{{ define "main" }}
  {{ if eq (.Param "scratchProcessing") "perLayout" }}
    {{ partial "add-scratch" (dict "ctx" . ) }}
  {{ end }}
  <h1>Term: {{ .Title }}
    <span> <mark>{{ with .Page.Scratch.Get "myScratch" }}
      {{ .number }}
    {{ end }}</mark></span></h1>  

  <ul>
    <li>Kind: {{ .Kind }}</li>
    <li>Weight: {{ .Weight }}</li>
  </ul>
  {{ .Content }}<hr>
  {{ range .Pages }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a>
      <span> <mark>{{ with .Page.Scratch.Get "myScratch" }}
        {{ .number }}
      {{ end }}</mark></span></h2>
    <ul>
      <li>Section: {{ .Section }}</li>
      <li>Kind: {{ .Kind }}</li>
      <li>Weight: {{ .Weight }}</li>
    </ul>
  {{ end }}
{{ end }}
