{{ with .order }}
  {{ $.ctx.Page.Scratch.Set "versioning" (dict "time" .) }}
{{ else }}
  {{ $.ctx.Page.Scratch.Set "versioning" (dict "time" (substr (now.UnixNano) 10 -4 ) ) }}
{{ end }}

{{/* page part of a versioned section? */}}
{{ if .Site.Data.import }}
  {{ with .Site.GetPage .Section }}
    {{ with index .Site.Data.import .Title }}
      {{ $versioning := dict }}
      {{ $versioning = $versioning | merge (dict "isVersioned" true) }}
      {{ $versioning = $versioning | merge (dict "versions" .) }}
      {{ $versioning = $versioning | merge (dict "latestVersion" (index . 0)) }}
      {{ range . }}
        {{ if in $.Section ( . | replaceRE "-.*" "") }}
          {{ $versioning = $versioning | merge (dict "thisVersion" .) }}
        {{end}} 
      {{end}}
      {{ if eq $versioning.thisVersion $versioning.latestVersion }}
        {{ $versioning = $versioning | merge (dict "isLatestVersion" true) }}
      {{end}}
      {{ $.Page.Scratch.Set "versioning" $versioning }}
    {{end}}
  {{end}}
{{end}}