{{ define "main" }}
  {{/* process scratch for each page */}}
  {{ $total := newScratch }}
  {{ if eq (.Param "scratchProcessing") "customOutput" }}
    {{ $total.Add "total" 1 }}
    {{ range .Site.Pages }}
      {{ partial "add-scratch" (dict "ctx" . "order" ( $total.Get "total" )) }}
      {{ $total.Add "total" 1 }}
    {{ end }}
    {{ warnf "\n\n  --> scratch added to %v pages by this custom output format layout" ($total.Get "total") }}
  {{ end }}
  
  <h1>Home (custom output format): {{ .Site.Title }}
    <span> <mark>{{ with .Page.Scratch.Get "myScratch" }}
      {{ .number }}
    {{ end }}</mark></span></h1>  
  
  {{ with ($total.Get "total") }}
    <p><mark>{{ printf "scratch added to %v pages by custom output format layout" . }}</mark></p>
  {{ end }}

  <ul>
    <li>Kind: {{ .Kind }}</li>
    <li>Weight: {{ .Weight }}</li>
  </ul>

{{ end }}
